<mat-toolbar color="primary">
    <span>{{ person.name }}</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <back-button color="white"></back-button>
</mat-toolbar>
<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h2>{{ person.name }}</h2>
        </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/characters/{{ id }}.jpg" alt="Picture for {{ person.name }}" />
    <mat-card-content>
        <h3>Birth year</h3>
        <p>
            {{ person.birth_year }}
        </p>
        <h3>Gender</h3>
        <p>
            {{ person.gender | uppercase }}
        </p>
        <h3>Height</h3>
        <p>
            {{ person.height }}
        </p>
        <h3>Weight</h3>
        <p>
            {{ person.mass }}
        </p>
        <h3>Eye colour</h3>
        <p>
            {{ person.eye_color | uppercase }}
        </p>
        <h3>Hair colour</h3>
        <p>
            {{ person.hair_color | uppercase }}
        </p>
        <h3>Skin colour</h3>
        <p>
            {{ person.skin_color | uppercase }}
        </p>
        <h3>Share this with your friends</h3>
        <share-buttons [theme]="'default'"
            [include]="['facebook','whatsapp','line','twitter','email','linkedin','google','pinterest','reddit','tumblr','mix','vk','telegram','messenger','xing','sms','print','copy']"
            [show]="7" [showCount]="true"></share-buttons>
        <h3>Comment</h3>
        <app-addcomment (addComment)="onAddComment($event)"></app-addcomment>
        <app-listcomment [comments]="commentsList" (deleteComment)="onDeleteComment($event)"></app-listcomment>

    </mat-card-content>
</mat-card>